
<div class="center jumbotron">
  <h1>Welcome to the </h1>
  <h1>Dat Movie Manager </h1>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
  
</div>

<div id="splashscreen">
    <div id="splashscreentext"><h1>Movies are waiting for you. Free watching</h1></div>
    <div style="text-align: center;margin-top: 150px"><a href="#" id="enter_link">Enter</a></div>  
</div>
