<footer class="footer" id="footer">
  <small>
    Design by Dat Vu Nguyen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>