<!DOCTYPE html>
<html>
<head>
  <title>Moviemanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script>
      $(function() {
      		alert("ll");
          $( "#datepicker" ).datepicker();
      });
  </script>
</head>
<body>
<p>Date: <input type="text" id="datepicker"></p>
<%= yield %>

</body>
</html>
